Django==2.1.4
django-widget-tweaks==1.4.3
django-charsleft-widget==0.1.6
django-phonenumber-field==2.1.0
django-tinymce4-lite==1.7.3
phonenumbers==8.10.3
python-keystoneclient==3.18.0
python-dateutil==2.7.5
python-decouple==3.1
psycopg2-binary==2.7.6.1
chance==0.110
