Django==2.1.5
django-widget-tweaks==1.4.3
django-charsleft-widget==0.1.6
django-phonenumber-field==2.2.0
django-tinymce4-lite==1.7.4
phonenumbers==8.10.5
python-keystoneclient==3.18.0
python-dateutil==2.8.0
python-decouple==3.1
psycopg2-binary==2.7.7
chance==0.110
