Django==2.2
django-widget-tweaks==1.4.3
django-charsleft-widget==0.1.7
django-phonenumber-field==2.3.1
django-tinymce4-lite==1.7.4
phonenumbers==8.10.9
python-keystoneclient==3.19.0
python-dateutil==2.8.0
python-decouple==3.1
psycopg2-binary==2.8.1
chance==0.110
