{% extends 'base.html' %}

{% block content %}
<div class="row">
  {% if user.is_authenticated %}
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-building-o fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{ sandboxes }}</div>
                      <div>Number Of Sandboxes</div>
                  </div>
              </div>
          </div>
          <a href="{% url 'project_list' %}">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{ sandbox_users }}</div>
                      <div>Number Of Users</div>
                  </div>
              </div>
          </div>
          <a href="{% url 'sandbox_user_list' %}">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  {% else %}
  <div class="panel">
    <div class="col-lg-12">
      <h1 class="page-header">How to create a cloud sandbox</h1>
    </div>
    <div class="panel-body">
         {{ home_static.sandb_static | safe }}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
