<div class="modal fade" id="TOSModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Terms of Use for Sandbox Environment
            </div>
            <div class="panel-body">
                {{ tos_content.sandb_static | safe }}
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
